<p>
  <label for="settings_mail">Mailing address of concerned person</label>
  <%= text_field_tag 'settings[mail]', settings['mail'] %>
  
  <br/>
  <% if  Redmine::Plugin.installed?(:redmine_contacts_invoices) %>
    <label>Generate Billing Invoice</label>
    <%= check_box_tag 'settings[billing_invoice]', true, settings['billing_invoice'] %>
  <% else %>
    <br/>If You install RedmineCRM Invoice Plugin, then billing invoice generation will be automatic.
  <% end %>
</p>