<table>
  <tr align="left">
    <th>Time Invoice Supervisor</th>
    <td>
      <%= select_tag('settings[group_mail]', options_from_collection_for_select(Group.all, :id, :name, 
          settings['group_mail']), multiple: true) %>
    </td>
  </tr>
</table>
