<strong><%= "Dear #{@member.user}" %></strong>
<p>
  <%="Time Invoice of #{@member.project} for the duration of #{@time_invoice.start_date} - #{@time_invoice.end_date} is ready for your viewing and submission."%><br/>
</p>
<p>
  Regards
  TimeInvoicePlugin
</p>