<h3> Time Invoices Report </h3>
<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'timeinvoice-menu', :plugin => 'redmine_time_invoices' %>
  <% end %>

<div id="timeinvoice-menu">
     <%= render_menu(:time_invoices_menu)%>
</div>
<%  puts @project%>
<%= render 'project_options' %>
