.table-class{
    float: left;
}

.table-class-end-date{
    float: left;
    margin-left: 50px;
    margin-top: 10px;
}


.table-submit-btn{
    float: left;
    margin-left: -880px;
    margin-top: 130px;
}

/*.create-space{
    margin-left: 100px;
    display: inline;
}*/
