.table-class{
    float: left;
}

.table-class-end-date{
    float: left;
    margin-left: 50px;
    margin-top: 10px;
}


.table-submit-btn{
    float: left;
    margin-left: -880px;
    margin-top: 240px;
}

.table-project{
    float: left;
    margin-left: -880px;
    margin-top: 130px;
}
